extends ../layout

block contenido
  a.btn-back(href=`/empresas/${empresa.id}/empleados/${empleado.id}`)
    i.fas.fa-arrow-left
    |  Volver al empleado
  .page-header
    h2 Historial de liquidaciones
    .empresa-meta
      span.empresa-nombre= empresa.razonSocial
      span.empleado-subtitle= empleado.nombre + ' ' + empleado.apellido
  br
  .card.card-wide
    table
      thead
        tr
          th Período
          th Bruto
          th Neto
          th Fecha guardado
      tbody
        each item in liquidaciones
          tr
            td= item.periodo
            td= item.bruto.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })
            td= item.neto.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' })
            td= item.createdAt.toLocaleString('es-AR')
        if liquidaciones.length === 0
          tr
            td(colspan="4" style="text-align:center;color:#999") No hay liquidaciones guardadas para este empleado
